*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
.gesamt{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(Webseite-Bilder/Hintergrund.jpg) ;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.nav-links ul li a{
    color: rgb(217, 219, 219);
    text-decoration: none;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(145, 180, 255);
    display: block;
    margin: auto;
    transition: 0.5s;
} 
.nav-links ul li:hover::after{
    width: 100%;
}
.Menu {
    position: absolute;
    top: 40%;
left: 10%;
}
.Menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;

}

.Menu ul li {
   display: inline-block;
   margin: 20px;

}

.Menu ul li a {
   text-decoration: none;
   color:rgb(217, 219, 219);
   font-weight: bold;
}

.Menu li a:hover {
   color: rgb(19,59,25);
   transition: 0.2s;
}
.text-box h1{
margin: 10px 0 40px;
font-size: 14px;
color: white;
width: 90%;
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}
.service {
    width: 100%;
    text-align: center;
    background: rgba(47, 81, 143, 0.7);
    margin-bottom: auto;
    font-size: 45px;
    color: rgb(217, 219, 219);
}
.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

body {
  font-family: "Nunito", sans-serif;
  color: #333;
  font-weight: 300;
  line-height: 1.6; 
  background: rgba(40, 68, 121, 0.7)
 
}

.container {
  width: 60%;
  margin: 2rem auto; 
  position: relative;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem; 
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
  
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--2 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;

  /** Alternative Syntax **/
  /* grid-column: 3 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--3 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 9;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4;
  grid-row: 1 / span 5; */
}

.gallery__item--4 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 9;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4;  */
  /* grid-row: 3 / span 3; */
}

.bilder-desc{
color: black;
}
.bilder-desc2{
    color: black;
}
.bilder-desc3{
    color: black;
}
.bilder-desc4{
    color: black;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

